#form {
    width:300px;
    height:300px;

}

header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: white;
    border: #cccccc;
    z-index: 0;
}

#teal {

    background-color:#4aaaa5;
    font-style: black;
    z-index: 1;

}

#background {

 background-size: cover;

}


body {
    width: 960px;
    background-color: #ffffff;
    border: #dddddd;

}